    <head>
          <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin-dash-style.css">
    </head>
   <body>
            <div class="col-lg-12">
          <form id="publish-product-form" action="/add-account" method="post">
            <div class="row">
                            <div class="col-lg-4">
                <fieldset>
                    <label for="">Serverni Tanlang</label>
                 <select class="select-server" name="server" id="server">
                              {{!-- Arizona Rp --}}
                  <option value="Arizona RP | 01">Arizona RP | Phoenix</option>
                  <option value="Arizona RP | 02">Arizona RP | Tucson</option>
                  <option value="Arizona RP | 03">Arizona RP | Scottdale</option>
                  <option value="Arizona RP | 04">Arizona RP | Chandler</option>
                  <option value="Arizona RP | 05">Arizona RP | Brainburg</option>
                  <option value="Arizona RP | 06">Arizona RP | Saint Rose</option>
                  <option value="Arizona RP | 07">Arizona RP | Mesa</option>
                  <option value="Arizona RP | 08">Arizona RP | Red-Rock</option>
                  <option value="Arizona RP | 09">Arizona RP | Yuma</option>
                  <option value="Arizona RP | 10">Arizona RP | Surprise</option>
                  <option value="Arizona RP | 11">Arizona RP | Prescott</option>
                  <option value="Arizona RP | 12">Arizona RP | Glendale</option>
                  <option value="Arizona RP | 13">Arizona RP | Kingman</option>
                  <option value="Arizona RP | 14">Arizona RP | Winslow</option>
                  <option value="Arizona RP | 15">Arizona RP | Payson</option>
                  <option value="Arizona RP | 16">Arizona RP | Gilbert</option>
                  <option value="Arizona RP | 17">Arizona RP | Show Low</option>
                  <option value="Arizona RP | 18">Arizona RP | Casa-Grande</option>
                  <option value="Arizona RP | 19">Arizona RP | Page</option>
                  <option value="Arizona RP | 20">Arizona RP | Sun-City</option>
                  <option value="Arizona RP | 21">Arizona RP | Queen-Creek</option>
                  <option value="Arizona RP | 22">Arizona RP | Sedona</option>
                  <option value="Arizona RP | 23">Arizona RP | Holiday</option>
                  <option value="Arizona RP | 24">Arizona RP | Wednesday</option>
                  <option value="Arizona RP | 25">Arizona RP | Yava</option>
                  <option value="Arizona RP | 26">Arizona RP | Faraway</option>
                  <option value="Arizona RP | 27">Arizona RP | Bumble Bee</option>
                  <option value="Arizona RP | 28">Arizona RP | Christmas</option>
                  <option value="Arizona RP | 29">Arizona RP | Mirage</option>
                  <option value="Arizona RP | 30">Arizona RP | Love</option>
                  <option value="Arizona RP | 31">Arizona RP | Drake</option>
                  <option value="Arizona Mobile 1">Arizona | Mobile 1</option>
                  <option value="Arizona Mobile 2">Arizona | Mobile 2</option>
                  <option value="Arizona Mobile 3">Arizona | Mobile 3</option>
                  {{!-- Grand Mobile --}}
                  <option value="Grand Mobile | 01">Grand Mobile | 01</option>
                  <option value="Grand Mobile | 02">Grand Mobile | 02</option>
                  <option value="Grand Mobile | 03">Grand Mobile | 03</option>
                  <option value="Grand Mobile | 04">Grand Mobile | 04</option>
                  <option value="Grand Mobile | 05">Grand Mobile | 05</option>
                  <option value="Grand Mobile | 06">Grand Mobile | 06</option>
                  <option value="Grand Mobile | 07">Grand Mobile | 07</option>
                  <option value="Grand Mobile | 08">Grand Mobile | 08</option>
                  <option value="Grand Mobile | 09">Grand Mobile | 09</option>
                  <option value="Grand Mobile | 10">Grand Mobile | 10</option>
                  <option value="Grand Mobile | 11">Grand Mobile | 11</option>
                  <option value="Grand Mobile | 12">Grand Mobile | 12</option>
                  <option value="Grand Mobile | 13">Grand Mobile | 13</option>
                  <option value="Grand Mobile | 14">Grand Mobile | 14</option>
                  <option value="Grand Mobile | 15">Grand Mobile | 15</option>
                  <option value="Grand Mobile | 16">Grand Mobile | 16</option>
                  <option value="Grand Mobile | 17">Grand Mobile | 17</option>
                  <option value="Grand Mobile | 18">Grand Mobile | 18</option>
                  <option value="Grand Mobile | 19">Grand Mobile | 19</option>
                  <option value="Grand Mobile | 20">Grand Mobile | 20</option>
                  <option value="Grand Mobile | 21">Grand Mobile | 21</option>
                  <option value="Grand Mobile | 22">Grand Mobile | 22</option>
                  <option value="Grand Mobile | 23">Grand Mobile | 23</option>
                  <option value="Grand Mobile | 24">Grand Mobile | 24</option>
                  <option value="Grand Mobile | 25">Grand Mobile | 25</option>
                  <option value="Grand Mobile | 26">Grand Mobile | 26</option>
                  <option value="Grand Mobile | 27">Grand Mobile | 27</option>
                  <option value="Grand Mobile | 28">Grand Mobile | 28</option>
                  <option value="Grand Mobile | 29">Grand Mobile | 29</option>
                  <option value="Grand Mobile | 30">Grand Mobile | 30</option>
                  <option value="Grand Mobile | 31">Grand Mobile | 31</option>
                  <option value="Grand Mobile | 32">Grand Mobile | 32</option>
                  <option value="Grand Mobile | 33">Grand Mobile | 33</option>
                  <option value="Grand Mobile | 34">Grand Mobile | 34</option>
                  <option value="Grand Mobile | 35">Grand Mobile | 35</option>
                  {{!-- Online RP --}}
                  <option value="Online RP | 01">Online RP | Texas</option>
                  <option value="Online RP | 02">Online RP | Florida</option>
                  <option value="Online RP | 03">Online RP | Nevada</option>
                  <option value="Online RP | 04">Online RP | Hawaii</option>
                  <option value="Online RP | 05">Online RP | Indiana</option>
                  {{!-- Rodina RP --}}
                  <option value="Rodina RP | 01">Rodina RP | Централный Округ</option>
                  <option value="Rodina RP | 02">Rodina RP | Южный Округ</option>
                  <option value="Rodina RP | 03">Rodina RP | Северный Округ</option>
                  <option value="Rodina RP | 04">Rodina RP | Восточный Округ</option>
                  <option value="Rodina RP | 05">Rodina RP | Западный Округ</option>
                  <option value="Rodina RP | 06">Rodina RP | Приморский Округ</option>
                  <option value="Rodina RP | 07">Rodina RP | Федеральный Округ</option>
               </select>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Product Name</label>
                  <input type="text" name="productTitle" id="productTitle" value="Akkaunt Sotiladi | {{account.selectServer}}"  autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Product Owner</label>
                  <input type="text" name="owner" id="owner" value="{{account.user.userName}}" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Contact User</label>
                  <input type="text" name="contactUser" id="contactUser" value="{{account.userContact}}" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Price (Uzs)</label>
                  <input type="number" name="price" id="price" value="{{account.accountPrice }}" autocomplete="on" required>
                </fieldset>
              </div>
                <div class="col-lg-4">
                <fieldset>
                  <label>Avatar</label>
                  <input type="text" name="userAvatar" id="serverImage" value="{{account.user.avatar}}" autocomplete="on" required>
                </fieldset>
              </div>
                <div class="col-lg-6">
                <fieldset>
                  <label>Photo</label>
                  <input type="text" name="serverImage" id="serverImage" value=".jpg" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <label>Date</label>
                  <input type="text" name="date" id="date" value="{{formatDate account.createdAt}}" autocomplete="on" required>
                </fieldset>
              </div>
            <div class="col-lg-6">
                <fieldset>
                  <label>Description</label>
                  <textarea class="add-info" name="addInfo" id="add-info"  required>Akkaunt Darajasi: {{account.accountLvl}}, Mablag'i: {{account.accountMoney}}. Akkauntda: {{account.addInfo}} </textarea>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <button type="submit" id="form-submit" class="btn">Tasdiqlash</button>
                </fieldset>
                <input type="hidden" name="parentId" id="serverImage" value="{{parentId}}" autocomplete="on" required>
              </div>
            </div>
          </form>
        </div>
  </body>
   
