    <head>
          <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin-dash-style.css">
    </head>
   <body>
        <div class="col-lg-12">
          <form id="publish-product-form" action="/add-money" method="post">
            <div class="row">
                            <div class="col-lg-4">
                <fieldset>
                    <label for="">Serverni Tanlang</label>
                <select class="select-server" name="server" id="server">
                  <option value="Arizona RP | 01">Arizona RP | Phoenix</option>
                  <option value="Arizona RP | 02">Arizona RP | Tucson</option>
                  <option value="Arizona RP | 03">Arizona RP | Scottdale</option>
                  <option value="Arizona RP | 04">Arizona RP | Chandler</option>
                  <option value="Arizona RP | 05">Arizona RP | Brainburg</option>
                  <option value="Arizona RP | 06">Arizona RP | Saint Rose</option>
                  <option value="Arizona RP | 07">Arizona RP | Mesa</option>
                  <option value="Arizona RP | 08">Arizona RP | Red-Rock</option>
                  <option value="Arizona RP | 09">Arizona RP | Yuma</option>
                  <option value="Arizona RP | 10">Arizona RP | Surprise</option>
                  <option value="Arizona RP | 11">Arizona RP | Prescott</option>
                  <option value="Arizona RP | 12">Arizona RP | Glendale</option>
                  <option value="Arizona RP | 13">Arizona RP | Kingman</option>
                  <option value="Arizona RP | 14">Arizona RP | Winslow</option>
                  <option value="Arizona RP | 15">Arizona RP | Payson</option>
                  <option value="Arizona RP | 16">Arizona RP | Gilbert</option>
                  <option value="Arizona RP | 17">Arizona RP | Show Low</option>
                  <option value="Arizona RP | 18">Arizona RP | Casa-Grande</option>
                  <option value="Arizona RP | 19">Arizona RP | Page</option>
                  <option value="Arizona RP | 20">Arizona RP | Sun-City</option>
                  <option value="Arizona RP | 21">Arizona RP | Queen-Creek</option>
                  <option value="Arizona RP | 22">Arizona RP | Sedona</option>
                  <option value="Arizona RP | 23">Arizona RP | Holiday</option>
                  <option value="Arizona RP | 24">Arizona RP | Wednesday</option>
                  <option value="Arizona RP | 25">Arizona RP | Yava</option>
                  <option value="Arizona RP | 26">Arizona RP | Faraway</option>
                  <option value="Arizona RP | 27">Arizona RP | Bumble Bee</option>
                  <option value="Arizona RP | 28">Arizona RP | Christmas</option>
                  <option value="Arizona RP | 29">Arizona RP | Mirage</option>
                  <option value="Arizona RP | 30">Arizona RP | Love</option>
                  <option value="Arizona Mobile 1">Arizona | Mobile 1</option>
                  <option value="Arizona Mobile 2">Arizona | Mobile 2</option>
                  <option value="Arizona Mobile 3">Arizona | Mobile 3</option>
                  {{!-- Rodina RP --}}
                  <option value="Rodina RP | 01">Rodina RP | Централный Округ</option>
                  <option value="Rodina RP | 02">Rodina RP | Южный Округ</option>
                  <option value="Rodina RP | 03">Rodina RP | Северный Округ</option>
                  <option value="Rodina RP | 04">Rodina RP | Восточный Округ</option>
                  <option value="Rodina RP | 05">Rodina RP | Западный Округ</option>
                  <option value="Rodina RP | 06">Rodina RP | Приморский Округ</option>
                  <option value="Rodina RP | 07">Rodina RP | Федеральный Округ</option>
               </select>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Server</label>
                  <input type="text" name="productTitle" id="productTitle" value="Virt Sotiladi | {{money.selectServer}}"  autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Product Owner</label>
                  <input type="text" name="owner" id="owner" value="{{money.user.userName}}" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>1mln Uchun Narx</label>
                  <input type="number" name="priceMoney" id="priceMoney" value="{{money.priceMoney}}" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Mablag'</label>
                  <input type="string" name="amountMoney" id="amountMoney" value="{{money.amountMoney }}" autocomplete="on" required>
                </fieldset>
              </div>
                <div class="col-lg-4">
                <fieldset>
                  <label>Minimum Sotib Olish Qiymati</label>
                  <input type="string" name="minimumAmount" id="minimumAmount" value="{{money.minimumAmount}}" autocomplete="on" required>
                </fieldset>
              </div>
                <div class="col-lg-4">
                <fieldset>
                  <label>Photo</label>
                  <input type="text" name="serverImage" id="serverImage" value=".jpg" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>User Contact</label>
                  <input type="text" name="userContact" id="userContact" value="{{money.userContact}}" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label>Avatar</label>
                  <input type="text" name="avatar" id="avatar" value="{{money.user.avatar}}" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <label>Date</label>
                  <input type="text" name="date" id="date" value="{{formatDate account.createdAt}}" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <button type="submit" id="form-submit" class="btn">Tasdiqlash</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
  </body>
   
