    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col">
 <div class="card-dash-container"> 

    <div class="card-dash">
        <div class="title">

            <p class="title-text">Users</p>
        </div>
        <div class="data">
            <p>
            {{{users.length}}}
            </p>
            
            <div class="range">
                <div class="users">
                </div>
            </div>
        </div>
    </div>

    <div class="card-dash">
        <div class="title">

            <p class="title-text">Accounts</p>
        </div>
        <div class="data">
            <p>
            {{{accounts.length}}}
            </p>
            
            <div class="range">
                <div class="accounts">
                </div>
            </div>
        </div>
    </div>

    <div class="card-dash">
        <div class="title">

            <p class="title-text">Money</p>
        </div>
        <div class="data">
            <p>
            {{{money.length}}}
            </p>
            
            <div class="range">
                <div class="money">
                </div>
            </div>
        </div>
    </div> 

    <div class="card-dash">
        <div class="title">

            <p class="title-text">Messages</p>
        </div>
        <div class="data">
            <p>
            {{{messages.length}}}
            </p>
            
            <div class="range">
                <div class="messages">
                </div>
            </div>
        </div>
    </div>

</div>

                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Sotuvdagi Akkauntlar Listi - (  {{accounts.length}}   ) </h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#Server</th>
                                    <th scope="col">Akkaunt Darajasi</th>
                                    <th scope="col">Akkaunt Mablag'i</th>
                                    <th scope="col">Narxi</th>
                                    {{!-- <th scope="col">Foto isbot</th> --}}
                                    <th scope="col">Telegram Profil</th>
                                    <th scope="col">Qo'riqlangan Akkaunt</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Avatar</th>
                                    <th scope="col">Topshirilgan Sana</th>
                                    <th scope="col">Tasdiqlash</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                {{#each accounts}}
                                    <tr>                                        
                                    <th scope="row"><b>#{{selectServer}}</b></th>
                                    <td>{{accountLvl}}-lvl</td>
                                    <td>{{accountMoney}}</td>
                                    <td>{{accountPrice}} Uzs</td>
                                    {{!-- <td><b>{{accountImage}}</b></td> --}}
                                    <td><b>{{userContact}}</b></td>
                                    <td>{{accountSecurity}}</td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.avatar}}</td>
                                    <td>{{formatDate createdAt}}</td>
                                    <td><button class="publish-btn"><a target="_blank" href="/add-account/{{_id}}">Publish</a></button></td>         
                                    <td>
                                    <form action="/delete-product/{{_id}}" method="post">
                                    <button class="tm-product-delete-link "><i class="far fa-trash-alt tm-product-delete-icon"></i></button>                
                                    </form>
                                    </td>
                             </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Sotuvdagi Virtual Pullar Listi - (  {{money.length}}   ) </h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#Server</th>
                                    <th scope="col">1mln uchun narx</th>
                                    <th scope="col">Mablag'</th>
                                    <th scope="col">Minimum Miqdor</th>
                                    {{!-- <th scope="col">Foto isbot</th> --}}
                                    <th scope="col">User</th>
                                    <th scope="col">Avatar</th>
                                    <th scope="col">Telegram Profil</th>
                                    <th scope="col">Topshirilgan Sana</th>
                                    <th scope="col">Tasdiqlash</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each money}}
                                    <tr>
                                    <th scope="row"><b>#{{selectServer}}</b></th>
                                    <td>{{priceMoney}}</td>
                                    <td>{{amountMoney}}</td>
                                    <td>{{minimumAmount}}</td>
                                    {{!-- <td>{{imageMoney}}</td> --}}
                                    <td><b>{{user.userName}}</b></td>
                                    <td>{{user.avatar}}</td>
                                    <td><b>@{{userContact}}</b></td>
                                    <td>{{formatDate createdAt}}</td>
                                    <td><button class="publish-btn"><a target="_blank" href="/add-money/{{_id}}">Publish</a></button></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2024</b> All rights reserved.                     
                </p>
            </div>
        </footer>
    </div>

