<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.jpg">
             <title>{{title}}</title>
    
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style-gtashop.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
  <body>
      <nav>
         <div class="logo">
            GTASHOP
         </div>
         <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
         <ul class="menu">
            <li> <a href="/"> <i class="fa fa-home"></i> Bosh Sahifa</a></li>
            <li><a href="/sell-account">Akkaunt Sotish</a></li>
            <li><a href="/sell-money">Virt Sotish</a></li>
            <li><a href="/contact">Aloqa</a></li>
            {{#if token}} 
            <li><a href="/profile">Profil <i class="fa fa-user"></i> </a></li>
            {{else}}
            <li><a href="/login">Kirish <i class="fa fa-sign-in"></i></a></li>
            {{/if}}
         </ul>
      </nav>
    <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>GTASHOP - O'ynaganlarimizni Pulga Aylantirish Vaqti Keldi!</h6>
          <h2>Batafsil Ma'lumot</h2>
          <span>Asosiy --> <a href="/item-details">Batafsil</a></span>
          <div class="buttons">
            <div class="main-button">
              <a href="">Batafsil</a>
            </div>
            <div class="border-button">
              <a href="/">Bosh Sahifa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>E'lon haqida <em>Batafsil </em>Ma'lumot. </h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img src="/images/{{itemDetail.serverImage}}" alt="" style="border-radius: 20px;">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h3>{{itemDetail.productTitle}}</h3> <br>
          <span class="author">
            <img src="/images/{{itemDetail.userAvatar}}" alt="" style="max-width: 50px; border-radius: 50%;">
            <h6>{{itemDetail.owner}}<br>
            <a href="/user/{{itemDetail.owner}}"> @{{itemDetail.owner}} </a></h6> 
          </span>
          <h4>(Qo'shimcha Ma'lumot) {{itemDetail.addInfo}}</h4>
          <div class="row">
            <div class="col-3">
              <span class="price">
                Narxi<br><strong>{{itemDetail.price}}</strong><br><em>(UZS)</em>
              </span>
            </div>
            <div class="col-4">
              <span class="owner">
                Bog'lanish Uchun<br><strong>Telegram</strong><br><em>(@{{itemDetail.contactUser}})</em>
              </span>
            </div>
            <div class="col-5">
              <span class="date">
                Qo'yilgan Vaqti<br><strong>{{itemDetail.date}}</strong><br><em>({{formatDate_2 itemDetail.createdAt}})</em>
              </span>
            </div>
          <form target="_blank" action="https://t.me/{{itemDetail.contactUser}}">
            <button type="submit" id="buy-item" class="main-button">Sotib Olish</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Biz Haqimizda</h6>
            <p class="text-justify">
              <p class="text-justify">GTASHOP - GTA o'yinchilari uchun maxsus yaratilgan platforma bo'lib, o'yinchilarga o'zlarining  akkauntlari va virtual pullarini qulay va xavfsiz tarzda sotish imkoniyatini beradi. Bizning maqsadimiz o'zbek GTA o'yinchilari uchun oson va ishonchli xizmatlar taqdim etishdir, chunki hozirgi kunda mavjud xalqaro platformalar o'zbek foydalanuvchilari uchun yetarlicha qulay emas. GTASHOP orqali siz o'z akkauntlaringizni va virtual pullaringizni bepul sotishingiz mumkin.</p>

          </div>

          <div class="col-xs-6 col-md-6">
            <h6>Barcha Sahifalar</h6>
            <ul class="footer-links">
              <li><a href="/">Bosh Sahifa</a></li>
              <li><a href="/sell-account">Akkaunt Sotish</a></li>
              <li><a href="/sell-money">Virt Sotish</a></li>
              <li><a href="/contact">Aloqa</a></li>
              <li><a href="/terms">Qoidalar</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">&copy; 2024 GTASHOP
            </p>
             <p class="copyright-text">Qo'llab Quvvatlash Xizmati: <a target="_blank" href="https://t.me/gtashop_uz_bot">Admin</a>
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="telegram" target="_blank" href="https://t.me/gtashop_uz"><i class="fab fa-telegram"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

    <!-- Scripts -->

<script>
  function toggleMenu() {
    const menu = document.querySelector('ul.menu');
    menu.classList.toggle('show');
  }
</script>


  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <script src="js/isotope.min.js"></script>
  <script src="js/owl-carousel.js"></script>

  <script src="js/toast.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/custom.js"></script>
