  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>GTASHOP – Sizning O'yin Bozoringiz</h6>                 
            <h2>O'ynang, Soting &amp; Sotib Oling!</h2>
            <p>"O'yin olamingizdagi har bir narsa qimmatli – va endi bu qimmatbaho narsalarni naqdga aylantirish vaqti keldi. GTASHOP – siz uchun eng yaxshi akkauntlar va virtual valyutalar bozorini taklif etadi. Bu yerda siz nafaqat o'z o'yin hayotingizdagi eng qimmatli resurslarni sotishingiz, balki yangi imkoniyatlarni kashf qilishingiz mumkin. Ishonchli savdo platformasi orqali eng qimmatli o'yin akkauntlaringizni yaxshi narxda soting yoki yangi hayot boshlash uchun sotib oling."</p>
            <div class="buttons">
              <div class="border-button">
                <a href="/sell-account">Akkaunt Sotish</a>
              </div>
              <div class="border-button">
                <a href="/sell-money">Virt Sotish</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="owl-banner owl-carousel">
            <div class="item">
              <img src="images/banner-01.png" alt="carousel-img" style="border-radius: 40px;">
            </div>
            <div class="item">
              <img src="images/banner-02.png" alt="carousel-img" style="border-radius: 40px;">
            </div>
            <div class="item">
              <img src="images/banner-03.png" alt="carousel-img" style="border-radius: 40px;">
            </div>
            <div class="item">
              <img src="images/banner-04.png" alt="carousel-img" style="border-radius: 40px;">
            </div>
            <div class="item">
              <img src="images/banner-05.png" alt="carousel-img" style="border-radius: 40px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if success}}
    <div class="success" id="success">
    <div class="success__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill-rule="evenodd" fill="#393a37" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" clip-rule="evenodd"></path></svg>
    </div>
    <div class="success__title">{{success}}</div>
    </div>
    <script>
      setTimeout(function() {
        document.getElementById('success').style.display = 'none'
      }, 5000)
    </script>
  {{/if}}

  {{#if regSuccess}}
     <div class="success" id="success">
    <div class="success__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill-rule="evenodd" fill="#393a37" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" clip-rule="evenodd"></path></svg>
    </div>
    <div class="success__title">{{regSuccess}}</div>
    </div>
    <script>
      setTimeout(function() {
        document.getElementById('success').style.display = 'none'
      }, 5000)
    </script>
  {{/if}}

  <div class="discover-items">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2> <em>Sotib</em> Olishni Boshlang!</h2>
          </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
            </div>
          </form>
        </div>
        {{#if accounts.length}}
        {{#each accounts}}
        <div class="col-lg-3">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <span class="author">
                  <img src="/images/{{userAvatar}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                </span>
                <img src="/images/{{serverImage}}" alt="" style="border-radius: 20px;">
                <h4>Akkaunt Sotiladi</h4>
              </div>
              <div class="col-lg-12">
                <div class="line-dec"></div>
                <div class="row">
                  <div class="col-6">
                    <span>Narxi: <br> <strong>{{{price}}} UZS</strong></span>
                  </div>
                  <div class="col-6">
                    <span>Server: <br> <strong>{{{server}}}</strong></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="/account-details/{{_id}}">Batafsil</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}


        {{#if money.length}}
        {{#each money}}
        <div class="col-lg-3">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <span class="author">
                  <img src="/images/{{avatar}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                </span>
                <img src="/images/{{serverImage}}" alt="" style="border-radius: 20px;">
                <h4>Virt Sotiladi</h4>
              </div>
              <div class="col-lg-12">
                <div class="line-dec"></div>
                <div class="row">
                  <div class="col-6">
                    <span>1mln Virt uchun Narx: <br> <strong>{{{priceMoney}}} So'm</strong></span>
                  </div>
                  <div class="col-6">
                    <span>Server: <br> <strong>{{{server}}}</strong></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="/money-details/{{_id}}">Batafsil</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}

      </div>
    </div>
  </div>


{{!-- <div class="col-lg-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <span class="banner">Double Item</span>
              </div>
              <div class="col-lg-6 col-sm-6">
                <span class="author">
                  <img src="/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                </span>
                <img src="/images/discover-01.jpg" alt="" style="border-radius: 20px;">
                <h4>Mutant Ape Bored</h4>
              </div>
              <div class="col-lg-6 col-sm-6">
                <span class="author">
                  <img src="/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                </span>
                <img src="/images/discover-02.jpg" alt="" style="border-radius: 20px;">
                <h4>His Other Half</h4>
              </div>
              <div class="col-lg-12">
                <div class="line-dec"></div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <span>Current Bid: <br> <strong>8.16 ETH</strong></span>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <span>Category: <br> <strong>Digital Art</strong></span>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <span>Collection:: <br> <strong>2/2</strong></span>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <span>Ends In: <br> <strong>25th Nov</strong></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="details.html">View Details</a>
                </div>
              </div>
            </div>
          </div>
</div> --}}

  {{!-- <div class="top-seller">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Saytimizdagi Top Sotuvchilar!</h2>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              {{#if users.length}}
              {{#each users}}
             <div class="item">
                <h4>1.</h4>
                <img src="/images/{{avatar}}" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>{{userName}}<br><a href="#">E'LONLAR SONI: 05</a></h6>
              </div>
              {{/each}}
              {{else}}
              <p>Hech Qanday Sotuvchilar Topilmadi!</p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --}}

